section.repository-list {
    margin: 40px;

    h1 {
        margin-bottom: 16px;
    }

    ul {
        list-style: none;
        

        li {
            border: rgb(182, 182, 182) 1px solid;
            border-radius: 10px;
            padding: 8px;
            max-width: 600px;
            box-shadow: 1px 1px 2px rgba(182, 182, 182, 0.5);
            transition: transform .2s ease-in;

            &:hover {
                transform: translate(5px, 0);
            }
            & + li {
                margin-top: 16px;
            }

            p {
                font-size: 14px;
                color: #444;
                margin-top: 8px;
            }

            a {
                display: inline-block;
                margin-top: 16px;
                text-decoration: none;
                color: #8257e6;
            }


        }
    }
}